{% extends "base.html" %}

{% block lab %}Регистрация{% endblock %}

{% block main %}
    <h1>Регистрация</h1>
    <form method="POST">
        <div>
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="password_confirm">Подтверждение пароля:</label>
            <input type="password" id="password_confirm" name="password_confirm" required>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
{% endblock %}
